In [1]:
import pandas as pd

In [28]:
df = pd.read_csv('glassdoor-datascience.csv')
df

,Job Title,Salary Estimate,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,"Consultant, Data Science and Analytics",USD 81K - USD 133K,3.8,TransUnion,"New York, NY",10000+ Employees,1968,Company - Public,Business Consulting,Management & Consulting,$1 to $5 billion (USD)
1,Sustainability Data Analyst,USD 80K - USD 85K,NaN,Worldly,Remote,51 to 200 Employees,2019,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable
2,Data Annotation - Safety tasks / Content Moder...,USD 44K - USD 74K,4.5,Cohere,"Nashville, TN",1 to 50 Employees,--,Company - Private,Advertising & Public Relations,Media & Communication,Unknown / Non-Applicable
3,Solaria Labs Data Science Co-op (July - Decemb...,USD 33K - USD 83K,3.7,Liberty Mutual,Remote,10000+ Employees,1912,Company - Private,Insurance Carriers,Insurance,$10+ billion (USD)
4,Data Scientist (Multiple Openings),USD 120K - USD 139K,4.2,Johnson & Johnson,"Raritan, NJ",10000+ Employees,1887,Company - Public,Biotech & Pharmaceuticals,Pharmaceutical & Biotechnology,$10+ billion (USD)
...,...,...,...,...,...,...,...,...,...,...,...
749,Senior Data Analyst,USD 111K - USD 147K,5.0,Hypersonix,"San Jose, CA",1 to 50 Employees,2019,Company - Private,Aerospace & Defense,Aerospace & Defense,Unknown / Non-Applicable
750,2024 Summer Associate SumRidge Data Engineer I...,USD 79K - USD 119K,4.1,"Raymond James Financial, Inc.","Jersey City, NJ",10000+ Employees,1962,Company - Public,Investment & Asset Management,Financial Services,$5 to $10 billion (USD)
751,Data Scientist,USD 126K - USD 140K,4.1,Fabletics,"El Segundo, CA",Unknown,2013,Company - Private,Internet & Web Services,Information Technology,Unknown / Non-Applicable
752,Data Analyst,USD 63K - USD 96K,3.5,Westfield Insurance,"Westfield Center, OH",1001 to 5000 Employees,1848,Company - Private,Insurance Carriers,Insurance,Unknown / Non-Applicable
753,Mid-Level Data Scientist,USD 66K - USD 105K,3.6,Illumination Works LLC,"Cincinnati, OH",51 to 200 Employees,2006,Contract,Information Technology Support Services,Information Technology,Unknown / Non-Applicable

In [29]:
df.dropna(inplace=True)
df

,Job Title,Salary Estimate,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,"Consultant, Data Science and Analytics",USD 81K - USD 133K,3.8,TransUnion,"New York, NY",10000+ Employees,1968,Company - Public,Business Consulting,Management & Consulting,$1 to $5 billion (USD)
2,Data Annotation - Safety tasks / Content Moder...,USD 44K - USD 74K,4.5,Cohere,"Nashville, TN",1 to 50 Employees,--,Company - Private,Advertising & Public Relations,Media & Communication,Unknown / Non-Applicable
3,Solaria Labs Data Science Co-op (July - Decemb...,USD 33K - USD 83K,3.7,Liberty Mutual,Remote,10000+ Employees,1912,Company - Private,Insurance Carriers,Insurance,$10+ billion (USD)
4,Data Scientist (Multiple Openings),USD 120K - USD 139K,4.2,Johnson & Johnson,"Raritan, NJ",10000+ Employees,1887,Company - Public,Biotech & Pharmaceuticals,Pharmaceutical & Biotechnology,$10+ billion (USD)
5,CAMPUS: I&A Data Science Summer Associate (2024),USD 40.00 Per Hour,4.2,Capital Group Companies,"Los Angeles, CA",5001 to 10000 Employees,1931,Company - Private,Investment & Asset Management,Financial Services,$1 to $5 billion (USD)
...,...,...,...,...,...,...,...,...,...,...,...
749,Senior Data Analyst,USD 111K - USD 147K,5.0,Hypersonix,"San Jose, CA",1 to 50 Employees,2019,Company - Private,Aerospace & Defense,Aerospace & Defense,Unknown / Non-Applicable
750,2024 Summer Associate SumRidge Data Engineer I...,USD 79K - USD 119K,4.1,"Raymond James Financial, Inc.","Jersey City, NJ",10000+ Employees,1962,Company - Public,Investment & Asset Management,Financial Services,$5 to $10 billion (USD)
751,Data Scientist,USD 126K - USD 140K,4.1,Fabletics,"El Segundo, CA",Unknown,2013,Company - Private,Internet & Web Services,Information Technology,Unknown / Non-Applicable
752,Data Analyst,USD 63K - USD 96K,3.5,Westfield Insurance,"Westfield Center, OH",1001 to 5000 Employees,1848,Company - Private,Insurance Carriers,Insurance,Unknown / Non-Applicable
753,Mid-Level Data Scientist,USD 66K - USD 105K,3.6,Illumination Works LLC,"Cincinnati, OH",51 to 200 Employees,2006,Contract,Information Technology Support Services,Information Technology,Unknown / Non-Applicable

Salary parsing

In [31]:
salary_minus_Kd = df['Salary Estimate'].apply(lambda x: x.replace('USD ', '').replace('K', ''))
salary = salary_minus_Kd.apply(lambda x: x.replace(' ', ''))
salary

0            81-133
2             44-74
3             33-83
4           120-139
5      40.00PerHour
           ...
749         111-147
750          79-119
751         126-140
752           63-96
753          66-105
Name: Salary Estimate, Length: 594, dtype: object

In [58]:
# Convert hourly salary to early = hourly * 35 * 4 * 12 /100_000
df['min_salary'] = salary.apply(lambda x: int(x.split('-')[0]) if 'PerHour' not in x else int(x.replace('PerHour', '').replace('.', '').split('-')[0]) * 35 * 4 * 12 / 100_000).astype('int')

In [62]:
df['max_salary'] = salary.apply(lambda x: int(x.split('-')[1 if len(x.split('-')) == 2 else 0]) if 'PerHour' not in x else int(x.replace('PerHour', '').replace('.', '').split('-')[1 if len(x.replace('PerHour', '').replace('.', '').split('-')) == 2 else 0]) * 35 * 4 * 12 / 10_0000).astype('int')

In [63]:
df['Average Salary'] = (df.min_salary + df.max_salary) / 2
df

,Job Title,Salary Estimate,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,Hourly Salary,min_salary,max_salary,Average Salary
0,"Consultant, Data Science and Analytics",USD 81K - USD 133K,3.8,TransUnion,"New York, NY",10000+ Employees,1968,Company - Public,Business Consulting,Management & Consulting,$1 to $5 billion (USD),0,81,133,107.0
2,Data Annotation - Safety tasks / Content Moder...,USD 44K - USD 74K,4.5,Cohere,"Nashville, TN",1 to 50 Employees,--,Company - Private,Advertising & Public Relations,Media & Communication,Unknown / Non-Applicable,0,44,74,59.0
3,Solaria Labs Data Science Co-op (July - Decemb...,USD 33K - USD 83K,3.7,Liberty Mutual,Remote,10000+ Employees,1912,Company - Private,Insurance Carriers,Insurance,$10+ billion (USD),0,33,83,58.0
4,Data Scientist (Multiple Openings),USD 120K - USD 139K,4.2,Johnson & Johnson,"Raritan, NJ",10000+ Employees,1887,Company - Public,Biotech & Pharmaceuticals,Pharmaceutical & Biotechnology,$10+ billion (USD),0,120,139,129.5
5,CAMPUS: I&A Data Science Summer Associate (2024),USD 40.00 Per Hour,4.2,Capital Group Companies,"Los Angeles, CA",5001 to 10000 Employees,1931,Company - Private,Investment & Asset Management,Financial Services,$1 to $5 billion (USD),1,67,67,67.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,Senior Data Analyst,USD 111K - USD 147K,5.0,Hypersonix,"San Jose, CA",1 to 50 Employees,2019,Company - Private,Aerospace & Defense,Aerospace & Defense,Unknown / Non-Applicable,0,111,147,129.0
750,2024 Summer Associate SumRidge Data Engineer I...,USD 79K - USD 119K,4.1,"Raymond James Financial, Inc.","Jersey City, NJ",10000+ Employees,1962,Company - Public,Investment & Asset Management,Financial Services,$5 to $10 billion (USD),0,79,119,99.0
751,Data Scientist,USD 126K - USD 140K,4.1,Fabletics,"El Segundo, CA",Unknown,2013,Company - Private,Internet & Web Services,Information Technology,Unknown / Non-Applicable,0,126,140,133.0
752,Data Analyst,USD 63K - USD 96K,3.5,Westfield Insurance,"Westfield Center, OH",1001 to 5000 Employees,1848,Company - Private,Insurance Carriers,Insurance,Unknown / Non-Applicable,0,63,96,79.5
753,Mid-Level Data Scientist,USD 66K - USD 105K,3.6,Illumination Works LLC,"Cincinnati, OH",51 to 200 Employees,2006,Contract,Information Technology Support Services,Information Technology,Unknown / Non-Applicable,0,66,105,85.5

State field

In [68]:
df['Job state'] = df['Location'].apply(lambda x: x[-2:].upper() if 'Remote' not in x else x)
df

,Job Title,Salary Estimate,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,Hourly Salary,min_salary,max_salary,Average Salary,Job state
0,"Consultant, Data Science and Analytics",USD 81K - USD 133K,3.8,TransUnion,"New York, NY",10000+ Employees,1968,Company - Public,Business Consulting,Management & Consulting,$1 to $5 billion (USD),0,81,133,107.0,NY
2,Data Annotation - Safety tasks / Content Moder...,USD 44K - USD 74K,4.5,Cohere,"Nashville, TN",1 to 50 Employees,--,Company - Private,Advertising & Public Relations,Media & Communication,Unknown / Non-Applicable,0,44,74,59.0,TN
3,Solaria Labs Data Science Co-op (July - Decemb...,USD 33K - USD 83K,3.7,Liberty Mutual,Remote,10000+ Employees,1912,Company - Private,Insurance Carriers,Insurance,$10+ billion (USD),0,33,83,58.0,Remote
4,Data Scientist (Multiple Openings),USD 120K - USD 139K,4.2,Johnson & Johnson,"Raritan, NJ",10000+ Employees,1887,Company - Public,Biotech & Pharmaceuticals,Pharmaceutical & Biotechnology,$10+ billion (USD),0,120,139,129.5,NJ
5,CAMPUS: I&A Data Science Summer Associate (2024),USD 40.00 Per Hour,4.2,Capital Group Companies,"Los Angeles, CA",5001 to 10000 Employees,1931,Company - Private,Investment & Asset Management,Financial Services,$1 to $5 billion (USD),1,67,67,67.0,CA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,Senior Data Analyst,USD 111K - USD 147K,5.0,Hypersonix,"San Jose, CA",1 to 50 Employees,2019,Company - Private,Aerospace & Defense,Aerospace & Defense,Unknown / Non-Applicable,0,111,147,129.0,CA
750,2024 Summer Associate SumRidge Data Engineer I...,USD 79K - USD 119K,4.1,"Raymond James Financial, Inc.","Jersey City, NJ",10000+ Employees,1962,Company - Public,Investment & Asset Management,Financial Services,$5 to $10 billion (USD),0,79,119,99.0,NJ
751,Data Scientist,USD 126K - USD 140K,4.1,Fabletics,"El Segundo, CA",Unknown,2013,Company - Private,Internet & Web Services,Information Technology,Unknown / Non-Applicable,0,126,140,133.0,CA
752,Data Analyst,USD 63K - USD 96K,3.5,Westfield Insurance,"Westfield Center, OH",1001 to 5000 Employees,1848,Company - Private,Insurance Carriers,Insurance,Unknown / Non-Applicable,0,63,96,79.5,OH
753,Mid-Level Data Scientist,USD 66K - USD 105K,3.6,Illumination Works LLC,"Cincinnati, OH",51 to 200 Employees,2006,Contract,Information Technology Support Services,Information Technology,Unknown / Non-Applicable,0,66,105,85.5,OH

In [75]:
df['Job state'].value_counts()

Job state
CA        136
Remote     47
NY         42
MA         38
TX         35
WA         26
ES         25
VA         22
IL         22
GA         19
OH         18
FL         14
NJ         14
MD         14
PA         12
MN         10
MO         10
DC         10
IA          8
MI          8
AZ          7
NC          7
TN          5
CO          5
OR          5
WI          4
ID          4
CT          4
AN          3
SC          2
UT          2
NV          2
NE          2
AS          1
IN          1
NS          1
ON          1
NH          1
AL          1
DO          1
RI          1
DE          1
KS          1
AR          1
NA          1
Name: count, dtype: int64

Age of company

In [78]:
df['Company_age'] = df.Founded.apply(lambda x: 2024 - int(x) if x != '--' else None)
df

,Job Title,Salary Estimate,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,Hourly Salary,min_salary,max_salary,Average Salary,Job state,Company_age
0,"Consultant, Data Science and Analytics",USD 81K - USD 133K,3.8,TransUnion,"New York, NY",10000+ Employees,1968,Company - Public,Business Consulting,Management & Consulting,$1 to $5 billion (USD),0,81,133,107.0,NY,56.0
2,Data Annotation - Safety tasks / Content Moder...,USD 44K - USD 74K,4.5,Cohere,"Nashville, TN",1 to 50 Employees,--,Company - Private,Advertising & Public Relations,Media & Communication,Unknown / Non-Applicable,0,44,74,59.0,TN,NaN
3,Solaria Labs Data Science Co-op (July - Decemb...,USD 33K - USD 83K,3.7,Liberty Mutual,Remote,10000+ Employees,1912,Company - Private,Insurance Carriers,Insurance,$10+ billion (USD),0,33,83,58.0,Remote,112.0
4,Data Scientist (Multiple Openings),USD 120K - USD 139K,4.2,Johnson & Johnson,"Raritan, NJ",10000+ Employees,1887,Company - Public,Biotech & Pharmaceuticals,Pharmaceutical & Biotechnology,$10+ billion (USD),0,120,139,129.5,NJ,137.0
5,CAMPUS: I&A Data Science Summer Associate (2024),USD 40.00 Per Hour,4.2,Capital Group Companies,"Los Angeles, CA",5001 to 10000 Employees,1931,Company - Private,Investment & Asset Management,Financial Services,$1 to $5 billion (USD),1,67,67,67.0,CA,93.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,Senior Data Analyst,USD 111K - USD 147K,5.0,Hypersonix,"San Jose, CA",1 to 50 Employees,2019,Company - Private,Aerospace & Defense,Aerospace & Defense,Unknown / Non-Applicable,0,111,147,129.0,CA,5.0
750,2024 Summer Associate SumRidge Data Engineer I...,USD 79K - USD 119K,4.1,"Raymond James Financial, Inc.","Jersey City, NJ",10000+ Employees,1962,Company - Public,Investment & Asset Management,Financial Services,$5 to $10 billion (USD),0,79,119,99.0,NJ,62.0
751,Data Scientist,USD 126K - USD 140K,4.1,Fabletics,"El Segundo, CA",Unknown,2013,Company - Private,Internet & Web Services,Information Technology,Unknown / Non-Applicable,0,126,140,133.0,CA,11.0
752,Data Analyst,USD 63K - USD 96K,3.5,Westfield Insurance,"Westfield Center, OH",1001 to 5000 Employees,1848,Company - Private,Insurance Carriers,Insurance,Unknown / Non-Applicable,0,63,96,79.5,OH,176.0
753,Mid-Level Data Scientist,USD 66K - USD 105K,3.6,Illumination Works LLC,"Cincinnati, OH",51 to 200 Employees,2006,Contract,Information Technology Support Services,Information Technology,Unknown / Non-Applicable,0,66,105,85.5,OH,18.0

In [92]:
df.to_csv('salary_data_cleaned.csv', index=False)